<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked /><label
      for="tab-1"
      class="tab"
      >Sign In</label
    >
    <input id="tab-2" type="radio" name="tab" class="sign-up" /><label
      for="tab-2"
      class="tab"
      >Sign Up</label
    >
    <div class="login-form">
      <div class="sign-in-htm">
        <div class="group">
          <label for="user" class="label">Email</label>
          <input
            id="user"
            type="text"
            class="input"
            [(ngModel)]="login.email"
          />
        </div>
        <div class="group">
          <label for="pass" class="label">Password</label>
          <div class="row group">
            <div class="col-md-10">
              <ng-template #nohide>
                <input
                  id="pass"
                  type="text"
                  class="input"
                  [(ngModel)]="login.password"
                />
              </ng-template>
              <input
                id="pass"
                type="password"
                class="input"
                data-type="password"
                [(ngModel)]="login.password"
                *ngIf="hide; else nohide"
              />
            </div>

            <div class="col-md-2">
              <button (click)="showpassword()">preview</button>
            </div>
          </div>
        </div>
        <div class="group">
          <input id="check" type="checkbox" class="check" checked />
          <label for="check"
            ><span class="icon"></span> Keep me Signed in</label
          >
        </div>
        <div class="group">
          <a>
            <input
              type="submit"
              class="button"
              value="Sign In"
              (click)="submit()"
            />
          </a>
          <!-- <div *ngIf="loading">loading...</div> -->

          <div *ngIf="errorMessage" class="alert alert-warning">
            <strong>Warning!</strong> {{ errorMessage | json }}
          </div>
        </div>
        <div class="hr"></div>
        <div class="foot-lnk">
          <a href="#forgot">Forgot Password?</a>
        </div>
      </div>
      <div class="sign-up-htm">
        <div class="group">
          <label for="pass" class="label">Email Address</label>
          <input
            id="pass"
            type="text"
            class="input"
            [(ngModel)]="signUp.email"
          />
        </div>
        <div class="group">
          <label for="user" class="label">Username</label>
          <input
            id="user"
            type="text"
            class="input"
            [(ngModel)]="signUp.name"
          />
        </div>
        <div class="group">
          <label for="pass" class="label">Password</label>
          <input
            id="pass"
            type="password"
            class="input"
            data-type="password"
            [(ngModel)]="signUp.password"
          />
        </div>
        <div class="group">
          <label for="pass" class="label">Year</label>
          <input
            id="pass"
            type="text"
            class="input"
            
            [(ngModel)]="signUp.year"
          />
        </div>
        <div class="group">
          <label for="pass" class="label">Branch</label>
          <input
            id="pass"
            type="text"
            class="input"
            
            [(ngModel)]="signUp.branch"
          />
        </div>

        <div class="group">
          <input
            type="submit"
            class="button"
            value="Sign Up"
            (click)="submitSignup()"
          />
        </div>
        <div class="hr"></div>
      </div>
    </div>
  </div>
</div>
