<div class="input-group mb-3">
  <div class="input-group-prepend">
    <h3><p>Choose a Difficulty Level</p></h3>
    <select (change)="difficultyLevel($event)">
      <option selected>Choose...</option>
      <option>Easy</option>
      <option>Medium</option>
      <option>Difficult</option>
    </select>
  </div>
</div>

<div *ngIf="onlyBank">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <h5><p>Year</p></h5>
      <select (change)="year($event)">
        <option selected>Choose...</option>
        <option>First</option>
        <option>Second</option>
        <option>Third</option>
        <option>Fourth</option>
      </select>
    </div>
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Branch"
      aria-label="Username"
      aria-describedby="basic-addon1"
      [(ngModel)]="branch"
    />
  </div>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Subject"
      aria-label="Username"
      aria-describedby="basic-addon1"
      [(ngModel)]="subject"
    />
  </div>
  
  <button
    type="button"
    class="btn btn-outline-success"
    (click)="fetchData()"
    *ngIf="expression3"
  >
    Fetch Questions!!!!
  </button>
  
</div>

<button
  type="button"
  class="btn btn-outline-danger"
  (click)="checkbox2()"
  *ngIf="expression"
>
  Delete Selected Questions
</button>
<button
  type="button"
  class="btn btn-outline-success"
  (click)="checkbox()"
  *ngIf="expression2"
>
  Submit Questions!!
</button>

<div class="card" *ngFor="let item of display_data; let i = index">
  <input type="checkbox" value="{{ item._id }}" id="{{ i }}" />
  <div class="card-header">
    {{ item.question }}
  </div>
  <div class="card-body">
    <!-- <h5 class="card-title">Special title treatment</h5> -->
    <p class="card-text">A: {{ item.OptA }}</p>
    <p class="card-text">B: {{ item.OptB }}</p>
    <p class="card-text">C: {{ item.OptC }}</p>
    <p class="card-text">D: {{ item.OptD }}</p>
    <p class="card-text">Ans: {{ item.ans }}</p>
  </div>
</div>
